@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
